<div style="border:solid green 3px; padding: 20px">

<b>–ü—Ä–∏–≤–µ—Ç!</b>

–ú–µ–Ω—è –∑–æ–≤—É—Ç –°–æ—Ä–æ–∫–æ–ª–µ—Ç–æ–≤ –ò–ª—å—è –∏ —è –±—É–¥—É –ø—Ä–æ–≤–µ—Ä—è—Ç—å —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç. 

–ü—Ä–µ–¥–ª–∞–≥–∞—é –æ–±—â–∞—Ç—å—Å—è –Ω–∞ ¬´**—Ç—ã**¬ª, –Ω–æ –µ—Å–ª–∏ —Ç–µ–±–µ –±—É–¥–µ—Ç –∫–æ–º—Ñ–æ—Ä—Ç–Ω–µ–µ –æ–±—â–∞—Ç—å—Å—è –Ω–∞ ¬´**–≤—ã**¬ª, —Ç–æ —Å–æ–æ–±—â–∏ –æ–± —ç—Ç–æ–º –≤ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è—Ö)


–î–ª—è —Ç–≤–æ–µ–≥–æ —É–¥–æ–±—Å—Ç–≤–∞, —è –±—É–¥—É –≤—ã–¥–µ–ª—è—Ç—å —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Å–ª–µ–¥—É—é—â–∏–º –æ–±—Ä–∞–∑–æ–º:

<div class="alert alert-danger">
<b>‚ùå –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v1:</b> –°–∞–º—ã–µ –≤–∞–∂–Ω—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è. –û–Ω–∏ —É–∫–∞–∑—ã–≤–∞—é—Ç –Ω–∞ –∫–ª—é—á–µ–≤—ã–µ –º–æ–º–µ–Ω—Ç—ã, –∫–æ—Ç–æ—Ä—ã–µ –≤–ª–∏—è—é—Ç –Ω–∞ –∫–æ–Ω–µ—á–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç –ø—Ä–æ–µ–∫—Ç–∞. </div>

<div class="alert alert-warning">
<b>‚ö†Ô∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v1:</b> –°–æ–≤–µ—Ç—ã –∏–ª–∏ –∑–∞–º–µ—á–∞–Ω–∏—è, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ–º–æ–≥—É—Ç —Å–¥–µ–ª–∞—Ç—å —Ç–≤–æ—é —Ä–∞–±–æ—Ç—É –ª—É—á—à–µ, –Ω–æ –Ω–µ–æ–±—è–∑–∞—Ç–µ–ª—å–Ω—ã –∫ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—é.

</div>

<div class="alert alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v1:</b> –¢–∞–∫ —è –≤—ã–¥–µ–ª—è—é –≤—Å–µ –æ—Å—Ç–∞–ª—å–Ω—ã–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏.</div>


–ü–æ–º–µ—Ç–∫–∞–º–∏ <b>v1-v2-v3-...</b> —è –±—É–¥—É –æ—Ç–º–µ—á–∞—Ç—å –≤–µ—Ä—Å–∏—é –ø—Ä–æ–≤–µ—Ä–∫–∏. –¢–∞–∫ —Ç—ã —Å–º–æ–∂–µ—à—å –±—ã—Å—Ç—Ä–æ –Ω–∞–π—Ç–∏ –º–æ–∏ –Ω–æ–≤—ã–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏.

–î–∞–≤–∞–π —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º –≤ –¥–∏–∞–ª–æ–≥–µ: –µ—Å–ª–∏ —Ç—ã —á—Ç–æ-—Ç–æ –º–µ–Ω—è–µ—à—å –≤ –ø—Ä–æ–µ–∫—Ç–µ –ø–æ –º–æ–∏–º —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è–º ‚Äî –ø–∏—à–∏ –æ–± —ç—Ç–æ–º. –í—ã–±–µ—Ä–∏ –¥–ª—è —Å–≤–æ–∏—Ö –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤ –∫–∞–∫–æ–π-—Ç–æ –∑–∞–º–µ—Ç–Ω—ã–π —Ü–≤–µ—Ç, —Ç–∞–∫ –º–Ω–µ –±—É–¥–µ—Ç –ª–µ–≥—á–µ –æ—Ç—Å–ª–µ–¥–∏—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è, –Ω–∞–ø—Ä–∏–º–µ—Ä –≤–æ—Ç —Ç–∞–∫:
    
<div class="alert alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b>
<br>
</div>

<b>–ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ –ø–µ—Ä–µ–º–µ—â–∞–π, –Ω–µ –∏–∑–º–µ–Ω—è–π –∏ –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏.</b> –ï—Å–ª–∏ —Ç—ã –æ—Å—Ç–∞–≤–ª—è–µ—à—å —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, —Ç–æ –¥–µ–ª–∞–π —ç—Ç–æ –ø–æ–¥ –º–æ–∏–º–∏, —á—Ç–æ–±—ã —Å–æ–æ–±—â–µ–Ω–∏—è –±—ã–ª–∏ —Ä–∞—Å–ø–æ–ª–æ–∂–µ–Ω—ã –≤ —Ö—Ä–æ–Ω–æ–ª–æ–≥–∏—á–µ—Å–∫–æ–º –ø–æ—Ä—è–¥–∫–µ. –í—Å—ë —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç –≤—ã–ø–æ–ª–Ω–∏—Ç—å –ø–æ–≤—Ç–æ—Ä–Ω—É—é –ø—Ä–æ–≤–µ—Ä–∫—É —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞ –±—ã—Å—Ç—Ä–µ–µ. 


–ü–µ—Ä–µ–¥ –æ—Ç–ø—Ä–∞–≤–∫–æ–π —Ä–∞–±–æ—Ç—ã —è —Ä–µ–∫–æ–º–µ–Ω–¥—É—é –Ω–∞–∂–∏–º–∞—Ç—å Kernel -> Restart & Run All. –≠—Ç–æ –ø–µ—Ä–µ–∑–∞–ø—É—Å—Ç–∏—Ç —è–¥—Ä–æ –∏ –ø–æ –æ—á–µ—Ä–µ–¥–∏ –≤—ã–ø–æ–ª–Ω–∏—Ç –≤—Å–µ —è—á–µ–π–∫–∏. –¢–∞–∫ —Ç—ã —Å–º–æ–∂–µ—à—å –ø—Ä–æ–≤–µ—Ä–∏—Ç—å, —á—Ç–æ –≤—Å—ë —Ä–∞–±–æ—Ç–∞–µ—Ç –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ. –ö–Ω–æ–ø–∫–∞ Kernel –Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ –ø–∞–Ω–µ–ª–∏ —Å–≤–µ—Ä—Ö—É

–û–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –∑–∞–¥–∞–≤–∞–π –≤–æ–ø—Ä–æ—Å—ã –µ—Å–ª–∏ –æ–Ω–∏ –≤–æ–∑–Ω–∏–∫–Ω—É—Ç, –∞ —è –ø–µ—Ä–µ—Ö–æ–∂—É –∫ –ø—Ä–æ–≤–µ—Ä–∫–µ)

P.S. –ù–∞ –≤—Å—è–∫–∏–π —Å–ª—É—á–∞–π, —è –æ—Å—Ç–∞–≤–ª—é –ø—É—Å—Ç–æ–π —à–∞–±–ª–æ–Ω –¥–ª—è —Ç–≤–æ–∏—Ö –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤ –Ω–∏–∂–µ. –ö–ª–∏–∫–Ω–∏ –¥–≤–∞ —Ä–∞–∑–∞ –Ω–∞ –º–æ–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π, —Å–∫–æ–ø–∏—Ä—É–π –ø–æ—Å–ª–µ–¥–Ω–∏–µ —á–µ—Ç—ã—Ä–µ —Å—Ç—Ä–æ—á–∫–∏ –∫–æ–¥–∞ –∏ –≤—Å—Ç–∞–≤–ª—è–π –∏—Ö –≤ –ø—É—Å—Ç—É—é —è—á–µ–π–∫—É —Ç–∞–º, –≥–¥–µ —Ç—ã —Ö–æ—á–µ—à—å –æ—Å—Ç–∞–≤–∏—Ç—å –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π. –ù–µ –∑–∞–±—É–¥—å —Ç–æ–ª—å–∫–æ –ø–µ—Ä–µ–¥ —ç—Ç–∏–º —Å–º–µ–Ω–∏—Ç—å —Ç–∏–ø —è—á–µ–π–∫–∏ –Ω–∞ Markdown. –ë—ã—Å—Ç—Ä–æ —ç—Ç–æ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å —Ç–∞–∫: –∫–ª–∏–∫–Ω—É—Ç—å –Ω–∞ —è—á–µ–π–∫—É - –Ω–∞–∂–∞—Ç—å ESC - –Ω–∞–∂–∞—Ç—å M. 
    
    
<div class="alert alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b>
<br>–ú–µ—Å—Ç–æ –¥–ª—è —Ç–≤–æ–µ–≥–æ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è
</div>

# –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –Ω–∞–¥–µ–∂–Ω–æ—Å—Ç–∏ –∑–∞–µ–º—â–∏–∫–æ–≤.

<div class="alert alert-warning">
<b>‚ö†Ô∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v1:</b> 
<br>–õ—É—á—à–µ –æ—Å—Ç–∞–≤–ª—è–π –ø–µ—Ä–µ–¥ –ø—Ä–æ–µ–∫—Ç–æ–º –∫—Ä–∞—Ç–∫–æ–µ –æ–ø–∏—Å–∞–Ω–∏–µ –∑–∞–¥–∞—á–∏. –≠—Ç–æ –ø–æ–º–æ–∂–µ—Ç —Ç–µ–±–µ –±—ã—Å—Ç—Ä–æ –≤—Å–ø–æ–º–Ω–∏—Ç—å –æ —á–µ–º –ø—Ä–æ–µ–∫—Ç, –µ—Å–ª–∏ —Å–ø—É—Å—Ç—è –≤—Ä–µ–º—è —Ç—ã —Ä–µ—à–∏—à—å –∫ –Ω–µ–º—É –≤–µ—Ä–Ω—É—Ç—å—Å—è)
</div>

### –®–∞–≥ 1. –û–±–∑–æ—Ä –¥–∞–Ω–Ω—ã—Ö

–î–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è –æ–±–∑–æ—Ä–∞ —Ç–∞–±–ª–∏—Ü—ã –Ω–∞–ø–µ—á–∞–µ–º –ø–µ—Ä–≤—ã–µ 10 —Å—Ç—Ä–æ–∫,–ø—Ä–∏–º–µ–Ω—è–µ–º –º–µ—Ç–æ–¥ display. –î–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –∏ —Ç–∞–±–ª–∏—Ü–µ –ø–∏–º–µ–Ω–µ–º –º–µ—Ç–æ–¥ info()

In [1]:
import pandas as pd 
import numpy as np

In [2]:
from functools import reduce
df = pd.read_csv('/datasets/data.csv')
#display(df.head(10)) #–≤—ã–≤–µ–ª–∏ –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞ —Ç–∞–±–ª–∏—Ü—ã –∏ –∑–Ω–∞—á–µ–Ω–∏–π
df.info() # –≤—ã–≤–µ–ª–∏ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –ø–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—É —É–∑–Ω–∞–ª–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

<div class="alert alert-warning">
<b>‚ö†Ô∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v1:</b> 
<br>–í—Å–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –ª—É—á—à–µ –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –æ—Ç–¥–µ–ª—å–Ω–æ –≤ –ø–µ—Ä–≤–æ–π —è—á–µ–π–∫–µ. –≠—Ç–æ –ø–æ–∑–≤–æ–ª–∏—Ç —Ç–µ–±–µ –≤ –ª—é–±–æ–π –º–æ–º–µ–Ω—Ç –¥–æ–±–∞–≤–∏—Ç—å –µ—â—ë –æ–¥–Ω—É –±–∏–±–ª–∏–æ—Ç–µ–∫—É –±–µ–∑ –ø–µ—Ä–µ–∑–∞–ø–∏—Å–∏ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö.
</div>

–ö–æ–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç: —Å–ø–∞—Å–∏–±–æ –∑–∞ –ø–æ–¥—Å–∫–∞–∑–∫—É, –ø–µ—Ä–µ–¥–µ–ª–∞–ª.

–û–±–Ω–∞—É–∂–µ–Ω—ã –ø—Ä–æ–ø—É—Å–∫–∏ –≤ —Å—Ç–æ–ª–±—Ü–µ total_income(–µ–∂–µ–º–µ—Å—è—á–Ω—ã–π –¥–æ—Ö–æ–¥) –∏ days_employed(–æ–±—â–∏–π —Ç—Ä—É–¥–æ–≤–æ–π —Å—Ç–∞–∂ –≤ –¥–Ω—è—Ö).
–ü—Ä–æ–ø—É—Å–∫–∏ –≤–æ–∑–Ω–∏–∫–ª–∏ —Å–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ —Ç–µ—Ö–Ω–æ–ª–æ–≥–∏—á–µ—Å–∫–æ–π –æ—à–∏–±–∫–∏.
–ß—Ç–æ–±—ã –Ω–µ —É–¥–∞–ª—è—Ç—å –Ω—É–∂–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –≤ —Ç–∞–±–ª–∏—Ü–µ –∏—Ö –º–æ–∂–Ω–æ –∑–∞–º–µ–Ω–∏—Ç—å –º–µ–¥–∏–∞–Ω–Ω—ã–º–∏.

In [3]:
df_pass = df.isna().sum() # –ø–æ—Å—á–∏—Ç–∞–ª–∏ –æ–±—â—É—é —Å—É–º–º—É –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö days_employed –∏ total_income
total_income_values = df['total_income'].isna().mean()
total_income_conversion = total_income_values/df['total_income'].count() # –¥–æ–ª—è –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –¥–ª—è —Å—Ç–æ–ª—å–±—Ü–∞ total_income
total_income_median = df['total_income'].median() # –Ω–∞—à–ª–∏ –º–µ–¥–∏–∞–Ω—É –¥–ª—è total_income
df['total_income'] = df['total_income'].fillna(total_income_median) # –∑–∞–º–µ–Ω–∏–ª–∏ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –Ω–∞ –º–µ–¥–∏–∞–Ω—É

print(df.isna().sum())
#display(df.head(20))
print(f'–î–æ–ª—è –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–±—Ü–µ total_income: {total_income_conversion:.1%}') # –¥–æ–ª—è –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π —Å—Ç–æ–ª–±—Ü–∞ total_income

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income           0
purpose                0
dtype: int64
–î–æ–ª—è –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–±—Ü–µ total_income: 0.0%

<div class="alert alert-warning">
<b>‚ö†Ô∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v1:</b> 
<br>–†–∞–∑–±–∏–≤–∞–π, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –∫–æ–¥ –Ω–∞ –Ω–µ—Å–∫–æ–ª—å–∫–æ —è—á–µ–µ–∫, —á—Ç–æ–±—ã —É —Ç–µ–±—è –ø–æ—Å–ª–µ —Å—Ç–µ–Ω—ã –∫–æ–¥–∞ –Ω–µ —à–ª–∞ —Å—Ç–µ–Ω–∞ –≤—ã–≤–æ–¥–æ–≤. –ö–∞–∂–¥–æ–µ –≤—ã—á–∏—Å–ª–µ–Ω–∏–µ –ø–æ—Å–ª–µ –∫–æ—Ç–æ—Ä–æ–≥–æ —Å–ª–µ–¥—É–µ—Ç –≤—ã–≤–æ–¥—ã –Ω–∞ —ç–∫—Ä–∞–Ω –¥–æ–ª–∂–Ω–æ –±—ã—Ç—å –≤ –æ—Ç–¥–µ–ª—å–Ω–æ–π —è—á–µ–π–∫–µ. –¢–∞–∫ –±—É–¥–µ—Ç –±–æ–ª–µ–µ –Ω–∞–≥–ª—è–¥–Ω–æ –∏ –ø—Ä–æ—â–µ –∫–æ–º–º–µ–Ω—Ç–∏—Ä–æ–≤–∞—Ç—å —Ç–≤–æ–π –∫–æ–¥
</div>

<div class="alert alert-warning">
<b>‚ö†Ô∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v1:</b> 
<br>–†–∞—Å—á–µ—Ç –¥–æ–ª–∏ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –Ω–µ —Å–æ–≤—Å–µ–º –≤–µ—Ä–Ω—ã–π, —Ç–∞–∫ –∫–∞–∫ —Ç—ã –¥–µ–ª–∏—à—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–ø–æ–ª–Ω–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π, –Ω–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤, –∞ –Ω—É–∂–Ω–æ –¥–µ–ª–∏—Ç—å –Ω–∞ –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Ç—Å–≤–æ –∑–Ω–∞—á–µ–Ω–∏–π. –í —ç—Ç–æ–º –º–æ–∂–µ—Ç –ø–æ–º–æ—á—å —Å–ª–µ–¥—É—é—â–∞—è —Å–≤—è–∑–∫–∞
    
    df.isna().mean()
</div>

–ö–æ–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞: –ò—Å–ø—Ä–∞–≤–∏–ª

<div class="alert alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v1:</b> 
<br>–¢–∞–∫–∂–µ –∑–¥–µ—Å—å –º–æ–∂–Ω–æ –∑–∞–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –±–æ–ª–µ–µ –æ–ø—Ç–∏–º–∞–ª—å–Ω—ã–º —Å–ø–æ—Å–æ–±–æ–º - –º–µ–¥–∏–∞–Ω–æ–π, –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Ç–∏–ø–∞ –∑–∞–Ω—è—Ç–æ—Å—Ç–∏. –î–ª—è —ç—Ç–æ–≥–æ –æ—Ç–ª–∏—á–Ω–æ –ø–æ–¥–æ–π–¥—ë—Ç —Ñ—É–Ω–∫—Ü–∏—è transform:

    df['total_income'] = df['total_income'].fillna(df.groupby('income_type')['total_income'].transform("median"))

<br>–û–Ω–∞ —Å–æ–∑–¥–∞—ë—Ç –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü, –∫–æ—Ç–æ—Ä—ã–π —Å–æ–¥–µ—Ä–∂–∏—Ç —Å—Ç–æ–ª—å–∫–æ –∂–µ —Å—Ç—Ä–æ–∫, —Å–∫–æ–ª—å–∫–æ –∏ –∏–∑–Ω–∞—á–∞–ª—å–Ω—ã–π, –Ω–æ —Ç–æ–ª—å–∫–æ –≤–º–µ—Å—Ç–æ –æ—Ä–∏–≥–∏–Ω–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–µ —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –º–µ–¥–∏–∞–Ω–∞ –ø–æ—Å—á–∏—Ç–∞–Ω–Ω–∞—è –ø–æ –∑–∞–¥–∞–Ω–Ω–æ–π –≥—Ä—É–ø–ø–µ. –ü–æ—Å–ª–µ —ç—Ç–æ–≥–æ –≤–º–µ—Å—Ç–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –æ—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–º —Å—Ç–æ–ª–±—Ü–µ –º—ã –ø–æ–¥—Å—Ç–∞–≤–ª—è–µ–º –∑–Ω–∞—á–µ–Ω–∏—è –∏–∑ —Å–æ–∑–¥–∞–Ω–Ω–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞, —Ç–æ –µ—Å—Ç—å –º–µ–¥–∏–∞–Ω—ã –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –≥—Ä—É–ø–ø—ã.
</div>

### –®–∞–≥ 2.1 –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤

### –®–∞–≥ 2.2 –ü—Ä–æ–≤–µ—Ä–∫–∞ –¥–∞–Ω–Ω—ã—Ö –Ω–∞ –∞–Ω–æ–º–∞–ª–∏–∏ –∏ –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏—è.

–í—ã—è–≤–ª–µ–Ω–Ω—ã –∞–Ω–æ–º–∞–ª–∏–∏ –¥–ª—è —Å—Ç–æ–ª–±—Ü–æ–≤ days_employed –∏ education. –í days_employed –∏–º–µ—é—Ç—å—Å—è –º–∏–Ω—É—Å–æ–≤—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, —É–±–∏—Ä–µ–º –∏—Ö —Ñ—É–Ω–∫—Ü–∏–µ–π abs.
–¢–∞–∫–∂–µ –¥–ª—è —ç—Ç–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞ –∑–∞–º–µ–Ω–∏–º –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –º–µ–¥–∏–∞–Ω–Ω—ã–º–∏. –í —Å—Ç–æ–ª–±—Ü–µ children —Ç–∞–∫–∂–µ –∏–º–µ–µ—Ç—å—Å—è –º–∏–Ω—É—Å–æ–≤–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π —É–∫–∞–∑–∞–Ω–æ 20, –ø—Ä–µ–¥–ø–æ–ª–æ–∂–∏–º —á—Ç–æ —ç—Ç–æ –æ—à–∏–±–∫–∞ —á–µ–ª–æ–≤–µ–∫–∞ –≤–±–∏–≤–∞–≤—à–µ–≥–æ –¥–∞–Ω–Ω—ã–µ.–£–±–µ—Ä–µ–º –º–∏–Ω—É—Å–æ–≤—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –∏ 20 –ø–æ–º–µ–Ω—è–µ–º –Ω–∞ 2.

In [4]:
df['days_employed'] = df['days_employed'].abs() #—É–±–∏—Ä–∞–µ–º –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ days_employed
days_employed_conversion = df['days_employed'].isna().sum()/df['days_employed'].count() # –¥–æ–ª—è –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –¥–ª—è —Å—Ç–æ–ª–±—Ü–∞ days_employed
days_employed_median = df['days_employed'].median() # –Ω–∞—à–ª–∏ –º–µ–¥–∏–∞–Ω—É –¥–ª—è total_income
df['days_employed'] = df['days_employed'].fillna(days_employed_median) # –∑–∞–º–µ–Ω–∏–ª–∏ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –Ω–∞ –º–µ–¥–∏–∞–Ω—É
display(df.head())
days_employed_unique = df['children'].unique() # –∏—â–µ–º —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ children
df['children'] = df['children'].abs() #—É–±–∏—Ä–∞–µ–º –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ children
df['children'] = df['children'].replace(20,2)
print(df['children'].unique())

print(f'–î–æ–ª—è –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–±—Ü–µ days_employed: {days_employed_conversion:.1%}') # –¥–æ–ª—è –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π —Å—Ç–æ–ª–±—Ü–∞ days_employed

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875.639453,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,4024.803754,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080.014102,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,5623.422610,33,–°—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885.952297,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,4124.747207,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628.550329,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266.072047,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616.077870,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É

[1 0 3 2 4 5]
–î–æ–ª—è –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–±—Ü–µ days_employed: 11.2%

<div class="alert alert-warning">
<b>‚ö†Ô∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v1:</b> 
<br>–ö–∞–∫ –≤–∞—Ä–∏–∞–Ω—Ç, 20 –¥–µ—Ç–µ–π –º–æ–∂–Ω–æ –±—ã–ª–æ –±—ã –∑–∞–º–µ–Ω–∏—Ç—å –Ω–∞ 2
</div>

–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞: –ó–∞–º–µ–Ω–∏–ª –∑–Ω–∞—á–µ–Ω–∏–µ 20 –Ω–∞ 2

<div class="alert alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v1:</b> 
<br>–ü—Ä–æ–ø—É—Å–∫–∏ –∑–∞–º–µ–Ω–Ω—ã –≤–µ—Ä–Ω–æ! –õ—É—á—à–∏–π —Å–ø–æ—Å–æ–± - –∑–∞–º–µ–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –≤ —Å—Ç–æ–ª–±—Ü–µ days_employed —á–µ—Ä–µ–∑ –º–µ–¥–∏–∞–Ω—ã —Å –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–æ–π –ø–æ –≤–æ–∑—Ä–∞—Å—Ç—É –∏–ª–∏ —Ç–∏–ø—É –∑–∞–Ω—è—Ç–æ—Å—Ç–∏

### –®–∞–≥ 2.3. –ò–∑–º–µ–Ω–µ–Ω–∏–µ —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö.

–í —Å—Ç–æ–ª–±—Ü–∞—Ö total_income, days_employed –ø–µ—Ä–µ–≤–µ–¥–µ–º –≤—Å–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π.

In [5]:
df = df.astype({'total_income': int})
df = df.astype({'days_employed': int})
display(df.head())

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,4024,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,5623,33,–°—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,4124,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É

<div class="alert alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v1:</b> 
<br>–¢—É—Ç –≤—Å—ë –≤–µ—Ä–Ω–æ!
</div>

### –®–∞–≥ 2.4. –£–¥–∞–ª–µ–Ω–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤.

–í education —Å–ª–æ–≤–∞ –Ω–∞–ø–∏—Å–∞–Ω—ã —Å —Ä–∞–∑–Ω—ã–º–∏ —Ä–µ–≥–∏—Å—Ç—Ä–∞–º–∏, –ø—Ä–∏–≤–µ–¥–µ–º –∫ –æ–¥–Ω–æ–º—É, —Å—Ç—Ä–æ—á–Ω–æ–º—É.
–í—ã—è–≤–∏–ª–∏ –¥—É–ø–ª–∏–∫–∞—Ç—ã –º–µ—Ç–æ–¥–æ–º duplicated –∏ –º–µ—Ç–æ–¥–æ–º drop_duplicates() —É–¥–∞–ª–∏–ª –¥—É–±–ª–∏–∫–∞—Ç—ã
–î—É–ø–ª–∏–∫–∞—Ç—ã –º–æ–≥–ª–∏ –≤–æ–∑–Ω–∏–∫–Ω—É—Ç—å –∏–∑-–∑–∞ —Å–±–æ—è –ø—Ä–æ–≥—Ä—Ä–∞–º–º—ã, –∏–ª–∏ –æ—à–∏–±–∫–∏ —á–µ–ª–æ–≤–µ–∫–∞ –∫–æ—Ç–æ—Ä—ã–π –¥–≤–∞–∂–¥—ã–π –≤–≤–µ–ª –æ–¥–Ω–∏ –∏ —Ç–µ–∂–µ –¥–∞–Ω–Ω—ã–µ

In [6]:
df['education'] = df.education.str.lower() # –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–ª–∏ –≤—Å–µ –±—É–∫–≤–µ–Ω–Ω—ã–µ —Å–∏–º–≤–æ–ª—ã –≤ —Å—Ç—Ä–æ—á–Ω—ã–µ.
duplicated_df = df[df.duplicated()].head() # –Ω–∞—à–ª–∏ –≤—Å–µ –¥—É–±–ª–∏–∫–∞—Ç—ã
#display(duplicated_df) # –≤—ã–≤–µ–ª–∏ –Ω–∞ —ç–∫—Ä–∞–Ω –¥—É–ø–ª–∏–∫–∞—Ç—ã –¥–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏
df = df.drop_duplicates().reset_index(drop=True) # —É–¥–∞–ª–∏–ª–∏ –¥—É–ø–ª–∏–∫–∞—Ç—ã —Å –∑–∞–º–µ–Ω–æ–π —Å—Ç–∞—Ä—ã—Ö –∏–Ω–¥–µ–∫—Å–æ–≤
print(df.duplicated().sum()) # –ø—Ä–æ–≤–µ—Ä—Ä–∏–ª–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥—É–ø–ª–∏–∫–∞—Ç–æ–≤
display(df.head(10))

0

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,4024,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,5623,33,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,4124,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
5,0,926,27,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,255763,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
6,0,2879,43,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,240525,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º
7,0,152,50,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,135823,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
8,2,6929,35,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,95856,–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
9,0,2188,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,144425,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏

<div class="alert alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v1:</b> 
<br>–°—É–ø–µ—Ä! –û—Ç –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ —Ç–æ–∂–µ –∏–∑–±–∞–≤–∏–ª–∏—Å—å
</div>

### –®–∞–≥ 2.5. –§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã—Ö –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–æ–≤ —Å–ª–æ–≤–∞—Ä–µ–π, –¥–µ–∫–æ–º–ø–æ–∑–∏—Ü–∏—è –∏—Å—Ö–æ–¥–Ω–æ–≥–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞.

–ß—Ç–æ–±—ã –Ω–µ –ø–µ—Ä–µ–≥—Ä—É–∂–∞—Ç—å —Ç–∞–±–ª–∏—Ü—É –¥–∞–Ω–Ω—ã–º–∏ —Å–¥–µ–ª–∞–µ–º —Å–ª–µ–¥—É—é—â–∏–µ –¥–µ–π—Å—Ç–≤–∏—è:
–°–æ–∑–¥–∞–µ–º –Ω–æ–≤—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –≥–¥–µ –∫–∞–∂–¥–æ–º—É —É–Ω–∏–∫–∞–ª—å–Ω–æ–º—É –∑–Ω–∞—á–µ–Ω–∏—é –∏–∑ education —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç —É–Ω–∏–∫–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ education_id
–°–æ–∑–¥–∞–µ–º –Ω–æ–≤—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –≥–¥–µ –∫–∞–∂–¥–æ–º—É —É–Ω–∏–∫–∞–ª—å–Ω–æ–º—É –∑–Ω–∞—á–µ–Ω–∏—é –∏–∑ family_status —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç —É–Ω–∏–∫–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ family_status_id
–ó–∞—Ç–µ–º —É–¥–∞–ª–∏–º —Å—Ç–æ–ª–±—Ü—ã  education –∏ family_status

In [7]:
education_id = df['education'].unique() 
family_status_id = df['family_status'].unique()
#print(education_id)
#print(family_status_id)
df.drop(['education', 'family_status'], axis=1, inplace=True) # —É–¥–∞–ª–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤ education –∏ family_status –º–µ—Ç–æ–¥–æ–º drop()
display(df.head(10))

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437,42,0,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,4024,36,1,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,5623,33,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,4124,32,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266,53,1,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
5,0,926,27,0,1,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,255763,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
6,0,2879,43,0,0,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,240525,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º
7,0,152,50,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,135823,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
8,2,6929,35,0,1,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,95856,–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
9,0,2188,41,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,144425,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏

<div class="alert alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v1:</b> 
<br>–¢—É—Ç –≤—Å—ë –ø—Ä–∞–≤–∏–ª—å–Ω–æ üëå
</div>

### –®–∞–≥ 2.6. –ö–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è –¥–æ—Ö–æ–¥–∞.

–°–æ–∑–¥–∞–¥–∏–º –Ω–æ–≤—É—é —Ç–∞–±–ª–∏—Ü—É —Å –ø—Ä–∏—Å–≤–æ–µ–Ω–∏–µ–º –¥–æ—Ö–æ–¥–æ–≤ –∫ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏. –ò –ø–æ—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ª—é–¥–µ–π –≤ –∫–∞–∂–¥–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏.

In [8]:
def total_income_category (row):
    if 0 <= row <= 30000:
        return 'E'
    if 30001 <= row <= 50000:
        return 'D'
    if 50001 <= row <= 200000:
        return 'C'
    if 200001 <= row <= 1000000:
        return 'B'
    return 'A'

df['total_income_category'] = df['total_income'].apply(total_income_category)
print(df['total_income_category'].value_counts())
display(df.head())

C    16016
B     5041
D      350
A       25
E       22
Name: total_income_category, dtype: int64

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,1,8437,42,0,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,B
1,1,4024,36,1,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è,C
2,0,5623,33,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,C
3,3,4124,32,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ,B
4,0,340266,53,1,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É,C

<div class="alert alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v1:</b> 
<br>–ö–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ —É—Ä–æ–≤–Ω—é –¥–æ—Ö–æ–¥–∞ –ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∞ –≤–µ—Ä–Ω–æ
</div>

### –®–∞–≥ 2.7. –ö–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è —Ü–µ–ª–µ–π –∫—Ä–µ–¥–∏—Ç–∞.

–ù–∞—Ö–æ–¥–∏–º —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ purpose, –∏ –≤–∏–¥–µ–º —á—Ç–æ —Ç–∞–º –º–Ω–æ–≥–æ –æ–¥–∏–Ω–∞–∫–æ–≤—ã—Ö —Ü–µ–ª–µ–π –Ω–∞–ø–∏—Å–∞–Ω–Ω—ã—Ö –ø–æ —Ä–∞–∑–Ω–æ–º—É.
–°–æ–∑–¥–∞–µ–º –Ω–æ–≤—É—é —Ç–∞–±–ª–∏—Ü—É, —á—Ç–æ–±—ã —Ç–∞–∫–∂–µ –ø–æ–¥–µ–ª–∏—Ç—å –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞.
–ü–æ—Å–ª–µ —ç—Ç–æ–≥–æ –º–æ–∂–µ–º —É–¥–∞–ª–∏—Ç—å —Å—Ç–æ–ª–±–µ—Ü purpose –∏ total_income.

In [9]:
#print(df['purpose'].unique()) # –≤—ã–≤–µ–ª–∏ –Ω–∞ —ç–∫—Ä—Ä–∞–Ω —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ purpose
def purpose_category(index): # —Å–æ–∑–¥–∞–µ–º —Å–æ–±—Å—Ç–≤–µ–Ω–Ω—É—é —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –Ω–æ–≤–æ–≥–æ —Å—Ç–æ–±—Ü–∞ purpose_category
# –∏—Å–ø–æ–ª—å–∑—É–µ–º –ø–æ–¥—Å—Ç—Ä–æ–∫–∏ –¥–ª—è –¥–∞–Ω–Ω—ã—Ö –ø–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—é  
    if '–∞–≤—Ç–æ' in index:
        return '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º'    
# –∏—Å–ø–æ–ª—å–∑—É–µ–º –ø–æ–¥—Å—Ç—Ä–æ–∫–∏ –¥–ª—è –¥–∞–Ω–Ω—ã—Ö –ø–æ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏  
    if '–∂–∏–ª—å' in index or '–Ω–µ–¥–≤–∏–∂' in index:
        return '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é'
# –∏—Å–ø–æ–ª—å–∑—É–µ–º –ø–æ–¥—Å—Ç—Ä–æ–∫–∏ –¥–ª—è –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å–≤–∞–ª—å–±–µ
    if '—Å–≤–∞–¥—å–±' in index:
         return '–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã'
# –∏—Å–ø–æ–ª—å–∑—É–µ–º –ø–æ–¥—Å—Ç—Ä–æ–∫–∏ –¥–ª—è –¥–∞–Ω–Ω—ã—Ö –ø–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—é         
    if '–æ–±—Ä–∞–∑–æ' in index:
        return '–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è'

df['purpose_category'] = df['purpose'].apply(purpose_category) # —Å–æ–∑–¥–∞–µ–º –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞
print(df['purpose_category'].value_counts()) # –≤—ã–≤–µ–ª–∏ –∫–æ–ª–∏—á–µ—Ç–≤–æ –≤ —Å—Ç–æ–ª–±—Ü–µ purpose_category –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º
df.drop(['purpose', 'total_income'], axis=1, inplace=True)
display(df.head(20)) # –≤—ã–≤–µ–ª–∏ –Ω–∞ —ç–∫—Ä–∞–Ω –¥–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏
print(df['purpose_category'].unique()) # –ø—Ä–æ–≤–µ—Ä–∏–ª–∏ —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ purpose_category

–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é    10811
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º       4306
–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è        4013
–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã           2324
Name: purpose_category, dtype: int64

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income_category,purpose_category
0,1,8437,42,0,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,B,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
1,1,4024,36,1,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º
2,0,5623,33,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
3,3,4124,32,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,B,–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
4,0,340266,53,1,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,C,–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
5,0,926,27,0,1,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,B,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
6,0,2879,43,0,0,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,B,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
7,0,152,50,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,C,–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
8,2,6929,35,0,1,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,C,–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
9,0,2188,41,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
10,2,4171,36,0,0,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
11,0,792,40,1,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
12,0,2194,65,1,1,M,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,C,–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
13,0,1846,54,2,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º
14,0,1844,56,0,1,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,1,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
15,1,972,26,1,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
16,0,1719,35,1,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,B,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
17,0,2369,33,0,1,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
18,0,400281,53,1,2,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º
19,0,10038,48,1,3,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,B,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º

['–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é' '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º'
 '–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è' '–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã']

<div class="alert alert-warning">
<b>‚ö†Ô∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v1:</b> 
<br>–¢—É—Ç –º–æ–∂–Ω–æ —É–ø—Ä–æ—Å—Ç–∏—Ç—å —Ñ—É–Ω–∫—Ü–∏—é –∏ —Å–¥–µ–ª–∞—Ç—å —Å–ª–µ–¥—É—é—â–∏–º –æ–±—Ä–∞–∑–æ–º
    
    if  '–∞–≤—Ç–æ' in purpose:
        return '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º'
    elif '–Ω–µ–¥–≤–∏–∂' in purpose or '–∂–∏–ª—å' in purpose:
        return '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é'
    elif '—Å–≤–∞–¥—å–±' in purpose:
        return '–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã'
    elif '–æ–±—Ä–∞–∑–æ' in purpose:
        return '–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è'
</div>

–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞: –ò—Å–ø—Ä–∞–≤–∏–ª —Ñ—É–Ω–∫—Ü–∏—é –∫–∞–∫ –ø–æ—Å–æ–≤–µ—Ç–æ–≤–∞–ª–∏.

<div class="alert alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v1:</b> 
<br>–û—Å–Ω–æ–≤–Ω—ã–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω—ã –ø—Ä–∞–≤–∏–ª—å–Ω–æ! üëç
</div>

### –û—Ç–≤–µ—Ç—ã –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã.

<div class="alert alert-danger">
<b>‚ùå –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v1:</b> 
<br>–¢—É—Ç –Ω—É–∂–Ω–æ –ø—Ä–æ–≤–µ—Å—Ç–∏ –æ—Ç–¥–µ–ª—å–Ω—ã–µ —Ä–∞—Å—á–µ—Ç—ã –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –≤–æ–ø—Ä–æ—Å–∞ –∏ –≤—ã–¥–µ–ª–∏—Ç—å –≥—Ä—É–ø–ø—É —Å –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–π –∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å—é –∫ –ø—Ä–æ—Å—Ä–æ—á–∫–µ. –í –æ–±—â–∏–π –≤—ã–≤–æ–¥ –Ω—É–∂–Ω–æ –¥–æ–±–∞–≤–∏—Ç—å –æ–ø–∏—Å–∞–Ω–∏–µ –∫–ª–∏–µ–Ω—Ç–∞, —Å —Å–∞–º—ã–º –≤—ã—Å–æ–∫–∏–º —É—Ä–æ–≤–Ω–µ–º —É—Ä–æ–≤–Ω–µ–º –ø—Ä–æ—Å—Ä–æ—á–∫–∏, –æ—Ä–∏–µ–Ω—Ç–∏—Ä—É—è—Å—å –Ω–∞ –æ—Ç–≤–µ—Ç—ã. –ù–∞–ø—Ä–∏–º–µ—Ä, –∂–µ–Ω–∞—Ç, 3–µ –¥–µ—Ç–µ–π, –¥–æ—Ö–æ–¥ - —Ç–∞–∫–æ–π-—Ç–æ, —Ü–µ–ª—å –∫—Ä–µ–¥–∏—Ç–∞ - —Ç–∞–∫–∞—è-—Ç–æ.
</div>

–ö–æ–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞: –ò—Å–ø—Ä–∞–≤–∏–ª

<div class="alert alert-danger">
<b>‚ùå –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v2:</b> 
<br>–¢—ã —Å–µ–π—á–∞—Å —Å—á–∏—Ç–∞–µ—à—å —Å—É–º–º—É –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º, –∞ –Ω—É–∂–Ω–æ –ø–æ—Å—á–∏—Ç–∞—Ç—å –¥–æ–ª—é –¥–æ–ª–∂–Ω–∏–∫–æ–≤ —Å—Ä–µ–¥–∏ –≤—Å–µ—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤.   
    
    –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –±–µ–∑ –¥–µ—Ç–µ–π –∏ —Å –¥–æ–ª–≥–æ–º / (–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –±–µ–∑ –¥–µ—Ç–µ–π –∏ —Å –¥–æ–ª–≥–æ–º + –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –±–µ–∑ –¥–µ—Ç–µ–π –∏ –±–µ–∑ –¥–æ–ª–≥–∞)
    
<br>–¢–∞–∫–∏–µ —Ä–∞—Å—á–µ—Ç—ã –Ω—É–∂–Ω–æ –ø—Ä–æ–∏–∑–≤–µ—Å—Ç–∏ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤–æ –≤—Å–µ—Ö —á–µ—Ç—ã—Ä—ë—Ö –≤–æ–ø—Ä–æ—Å–∞—Ö. –õ—É—á—à–µ –≤—Å–µ–≥–æ –¥–ª—è —ç—Ç–æ–≥–æ –ø–æ—Å—Ç—Ä–æ–∏—Ç—å —Å–≤–æ–¥–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã –∏—Å–ø–æ–ª—å–∑—É—è –º–µ—Ç–æ–¥ pivot_table. –¢–∞–∫–∂–µ –º–æ–∂–Ω–æ —Ä–∞—Å—Å—á–∏—Ç–∞—Ç—å –¥–æ–ª—é –¥–æ–ª–∂–Ω–∏–∫–æ–≤ –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏, —Å —ç—Ç–∏–º –º–æ–∂–µ—Ç –ø–æ–º–æ—á—å aggfunc='mean'. –í –∫–∞–∂–¥–æ–º –≤–æ–ø—Ä–æ—Å–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –≤—ã–¥–µ–ª–∏—Ç—å –≥—Ä—É–ø–ø—É —Å –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–π –∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å—é –∫ –ø—Ä–æ—Å—Ä–æ—á–∫–µ
</div>
</div>

–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞: –ò—Å–ø–∞–≤–∏–ª

##### –í–æ–ø—Ä–æ—Å 1:

–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

–ö–∞–∫ —Ä–∞–∑–Ω—ã–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –≤–ª–∏—è—é—Ç –Ω–∞ –µ–≥–æ –≤–æ–∑–≤—Ä–∞—Ç –≤ —Å—Ä–æ–∫?

##### –í—ã–≤–æ–¥ 1:

–ö –≥—Ä—É–ø–ø–µ –ª—é–¥–µ–π –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫, –æ—Ç–Ω–æ—Å—è—Ç—Å—è –ª—é–¥–∏ —Å —á–µ—Ç—ã—Ä–µ–º—è –¥–µ—Ç—å–º–∏, –º–µ–Ω—å—à–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ—Å—Ä–æ—á–µ–∫ —É –ª—é–¥–µ–π —Å –æ–¥–Ω–∏–º —Ä–µ–±–µ–Ω–∫–æ–º.

–õ—é–¥–∏ —Å —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ –≤–¥–æ–≤–µ—Ü/–≤–¥–æ–≤–∞ –∏–º–µ–µ—é—Ç –±–æ–ª—å—à–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–µ –≤–æ–∑–≤—Ä–∞—Ç–∞ –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫, –∞ —Å —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∂–µ–Ω–∞—Ç/–∑–∞–º—É–∂–µ–º –∏–º–µ—é—Ç –º–µ–Ω—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–µ –≤–æ–∑–≤—Ä–∞—Ç–∞ –≤ —Å—Ä–æ–∫.

–õ—é–¥–∏ —Å —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –ê –∏ –ï –∏–º–µ–µ—é—Ç –±–æ–ª—å—à–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–µ –≤–æ–∑–≤—Ä–∞—Ç–∞ –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫, –∞ –ª—é–¥–∏ —Å –¥–æ—Ö–æ–¥–æ–º –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –í –∏ D –∏–º–µ—é—Ç –º–µ–Ω—å—à–µ–µ —Å–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ –Ω–µ–≤–æ–∑–≤—Ä–∞—Ç–æ–≤.   

–õ—é–¥–∏ –±–µ—Ä—É—â–∏–µ –∫—Ä–µ–¥–∏—Ç –Ω–∞ –æ–±—Ä–æ–∑–æ–≤–∞–Ω–∏–µ, —á–∞—â–µ –Ω–µ –ø–ª–∞—Ç—è—Ç –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫, –∞ —Å–∞–º—ã–π –º–∞–ª–µ–Ω—å–∫–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–µ –≤–æ–∑–≤—Ä–∞—Ç–∞ –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫, –≤–∑—è—Ç—ã—Ö –Ω–∞ –æ–ø–µ—Ä–∞—Ü–∏–π —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é.

## –û–±—â–∏–π –≤—ã–≤–æ–¥:

–ò–∑ –≥—Ä–∞—Ñ–∏–∫–æ–≤ –Ω–∏–∂–µ –º—ã –≤–∏–¥–∏–º —á—Ç–æ –Ω–∞–∏–±–æ–ª–µ–µ –≤—ã—Å–æ–∫–∏–º —É—Ä–æ–≤–Ω–µ–º –ø—Ä–æ—Å—Ä–æ—á–∫–∏ –æ—Ç–Ω–æ—Å—è—Ç—Å—è —Å–ª–µ–¥—É—é—â–∏–µ —Ç–∏–ø—ã –ª—é–¥–µ–π: –≤–¥–æ–≤–µ—Ü/–≤–¥–æ–≤–∞, –ª—é–¥–∏ —Å —á–µ—Ç—ã—Ä–µ–º—è –¥–µ—Ç—å–º–∏,–¥–æ—Ö–æ–¥ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –ê –∏ –ï, —Ü–µ–ª—å –∫—Ä–µ–¥–∏—Ç–∞ –æ–±—Ä–æ–∑–æ–≤–∞–Ω–∏–µ.

<div class="alert alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v3:</b>
<br>–û—Ç–ª–∏—á–Ω–æ! –¢–µ–ø–µ—Ä—å –≤—Å—ë –≤–µ—Ä–Ω–æ)
</div>

In [10]:
def age_category (age):
    if 19 <= age <= 24:
        return '19-24'
    if 25 <= age <= 30:
        return '25-30'
    if 31 <= age <= 36:
        return '31-36'
    if 37 <= age <= 44:
        return '37-43'
    if 40 <= age <= 49:
        return '44-49'
    if 50 <= age <= 59:
        return '50-55'
    if 60 <= age <= 65:
        return '56-65'
    if 66 <= age <= 75:
        return '65-75'

df['age_category'] = df['dob_years'].apply(age_category)
print(df['age_category'].value_counts())
display(df.head())

50-55    4657
37-43    4570
31-36    3420
25-30    2842
44-49    2489
56-65    1798
19-24     875
65-75     702
Name: age_category, dtype: int64

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income_category,purpose_category,age_category
0,1,8437,42,0,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,B,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,37-43
1,1,4024,36,1,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º,31-36
2,0,5623,33,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,31-36
3,3,4124,32,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,B,–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è,31-36
4,0,340266,53,1,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,C,–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã,50-55

In [11]:
total_table = df.pivot_table(index =['age_category'], columns =['children'], values = 'debt', aggfunc = 'mean')*100
display(total_table)
children = total_table.max()
print(children)

children              0          1          2          3      4    5
age_category
19-24          9.969325  10.052910  12.500000   0.000000    0.0  NaN
25-30         11.304348  10.894495  11.163895   6.122449   20.0  NaN
31-36          9.534050  10.086957  10.192837  11.290323    5.0  0.0
37-43          8.068783   9.004739   8.563135   6.504065   10.0  0.0
44-49          7.189901   7.099391   8.000000  10.000000    0.0  NaN
50-55          6.425406   7.429719   7.058824   0.000000  100.0  0.0
56-65          4.996990   3.968254   0.000000   0.000000    NaN  NaN
65-75          4.947526   5.882353   0.000000        NaN    NaN  NaN

children
0     11.304348
1     10.894495
2     12.500000
3     11.290323
4    100.000000
5      0.000000
dtype: float64

In [12]:
total_table = df.pivot_table(index =['age_category'], columns =['family_status_id'], values = 'debt', aggfunc = 'mean')*100
display(total_table)
family_status_id = total_table.max()
print(family_status_id)

family_status_id          0          1          2          3          4
age_category
19-24              8.695652   9.545455   0.000000  12.500000  11.325967
25-30             10.737813  11.150442  16.666667  14.851485  11.196319
31-36              9.296838  11.095306  11.111111   5.405405  12.268519
37-43              7.823613  10.199790   4.109589   6.737589   9.955752
44-49              6.496986   8.686869  10.256410   6.111111   8.641975
50-55              6.080347   8.229426   5.585106   6.270627   7.506053
56-65              4.361371   4.467354   7.224335   6.034483   4.242424
65-75              4.624277   4.854369   5.755396  10.256410   2.666667

family_status_id
0    10.737813
1    11.150442
2    16.666667
3    14.851485
4    12.268519
dtype: float64

In [13]:
total_table = df.pivot_table(index =['age_category'], columns =['total_income_category'], values = 'debt', aggfunc = 'mean')*100
display(total_table)
total_income_category = total_table.max()
print(total_income_category)

total_income_category      A         B          C         D     E
age_category
19-24                    NaN  8.474576  10.386152  0.000000   NaN
25-30                    NaN  8.805970  11.833489  9.090909   0.0
31-36                    0.0  7.874865  10.672098  9.090909   NaN
37-43                   10.0  6.356968   9.174032  8.000000   0.0
44-49                  100.0  6.794682   7.488739  0.000000   0.0
50-55                    0.0  7.414830   6.325897  5.825243  12.5
56-65                    0.0  3.470032   5.140845  5.454545  25.0
65-75                    NaN  4.938272   4.991394  5.555556   0.0

total_income_category
A    100.000000
B      8.805970
C     11.833489
D      9.090909
E     25.000000
dtype: float64

In [14]:
total_table = df.pivot_table(index =['age_category'], columns =['purpose_category'], values = 'debt', aggfunc = 'mean')*100
display(total_table)
purpose_category = total_table.max()
print(purpose_category)

purpose_category,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è,–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
age_category,,,,
19-24,12.422360,8.988764,9.433962,11.818182
25-30,12.190476,10.033898,13.928571,8.865248
31-36,12.916667,8.495575,11.038961,8.483290
37-43,10.064935,7.478261,8.782201,8.943089
44-49,6.653226,6.718750,9.070295,7.720588
50-55,6.951872,5.902481,7.449210,7.228916
56-65,6.648936,3.811659,5.952381,4.639175
65-75,4.761905,5.014749,5.594406,4.109589

purpose_category
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º      12.916667
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é    10.033898
–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è       13.928571
–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã          11.818182
dtype: float64

In [16]:
total_table1 = df.pivot_table(index =['total_income_category', 'family_status_id', 'children'], columns =['age_category'], values = 'debt', aggfunc = 'mean')*100
display(total_table1.head())

age_category                                     19-24  25-30  31-36  37-43  \
total_income_category family_status_id children
A                     0                0           NaN    NaN    0.0    0.0
                                       1           NaN    NaN    NaN   50.0
                                       2           NaN    NaN    NaN    0.0
                                       3           NaN    NaN    0.0    NaN
                      1                0           NaN    NaN    0.0    0.0

age_category                                     44-49  50-55  56-65  65-75
total_income_category family_status_id children
A                     0                0           NaN    0.0    NaN    NaN
                                       1           NaN    0.0    NaN    NaN
                                       2           NaN    0.0    NaN    NaN
                                       3           NaN    NaN    NaN    NaN
                      1                0         100.0    NaN    NaN    NaN

<div class="alert alert-danger">
<b>‚ùå –ò—Ç–æ–≥–æ–≤—ã–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v1:</b> 
<br>–¢—ã —Ö–æ—Ä–æ—à–æ –ø–æ—Ç—Ä—É–¥–∏–ª—Å—è, –±–æ–ª—å—à–∞—è —á–∞—Å—Ç—å —Ä–∞–±–æ—Ç—ã —Å–¥–µ–ª–∞–Ω–∞, –Ω–æ –æ—Å—Ç–∞—ë—Ç—Å—è –≤–Ω–µ—Å—Ç–∏ —Å–ª–µ–¥—É—é—â–∏–µ –ø—Ä–∞–≤–∫–∏:
<br>- –ø—Ä–æ–∏–∑–≤–µ—Å—Ç–∏ –ø—Ä–∞–≤–∏–ª—å–Ω—ã–µ —Ä–∞—Å—á–µ—Ç—ã –¥–ª—è –æ—Ç–≤–µ—Ç–∞ –Ω–∞ –∏—Ç–æ–≥–æ–≤—ã–µ –≤–æ–ø—Ä–æ—Å—ã –∏ –æ—Ç–≤–µ—Ç–∏—Ç—å –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã
<br>- –Ω–∞–ø–∏—Å–∞—Ç—å  –æ–±—â–∏–π –≤—ã–≤–æ–¥

</div>

<div class="alert alert-danger">
<b>‚ùå –ò—Ç–æ–≥–æ–≤—ã–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v2:</b> 
<br>–¢—ã —Ö–æ—Ä–æ—à–æ –ø–æ—Ç—Ä—É–¥–∏–ª—Å—è, –±–æ–ª—å—à–∞—è —á–∞—Å—Ç—å —Ä–∞–±–æ—Ç—ã —Å–¥–µ–ª–∞–Ω–∞, –Ω–æ –æ—Å—Ç–∞—ë—Ç—Å—è –≤–Ω–µ—Å—Ç–∏ —Å–ª–µ–¥—É—é—â–∏–µ –ø—Ä–∞–≤–∫–∏:
<br>- –ü—Ä–∞–≤–∫–∏ –∞–∫—Ç—É–∞–ª—å–Ω—ã

</div>

<div class="alert alert-success">
<b>‚úîÔ∏è –ò—Ç–æ–≥–æ–≤—ã–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v3:</b>
<br>–í—Å–µ –ø—Ä–∞–≤–∫–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω—ã. –ú–æ–ª–æ–¥–µ—Ü!
<br>–¢—ã –ø—Ä–æ–¥–µ–ª–∞–ª –±–æ–ª—å—à—É—é —Ä–∞–±–æ—Ç—É! –†–∞–¥ –±—ã–ª –ø–æ—Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ –ø—Ä–æ–≤–µ—Ä–∫–æ–π —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞. –ñ–µ–ª–∞—é —É–¥–∞—á–∏ –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –æ–±—É—á–µ–Ω–∏–∏ üòâ
</div>